.login-container{
  padding-top: 150px;

a{
  text-decoration: none;
}

main{
  padding-top: 10px !important;
  padding-bottom: 0%;
  margin: 80px auto;
  max-width: 800px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.5);
}

label{
  color: black;
  padding: 0;
}

.email{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

}

.email-input{
  width: 100%;
}

.password{
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;

  .main-text{
      padding: 0px 10%;
      color: black;
      text-align: center;
      font-weight: bold;
      
  }

  .form-text{
      width: 80%;
      margin: auto;
  }


  input, select{
      width: 100%;
      margin: auto;
      height: 2em;
      border-width: 0.5px;
      border-radius: 5px;
  }

  button{
      background-color: #05466C;
      color: white;
      padding: 10px;
      border-radius: 10px;
      width: 200px;
      height: 50px;
      margin: 20px auto;
      border: none;

      a{
          color: white;
          text-decoration: none;
      }
  }

  .bxs-lock-alt{
    scale: 1;
    margin: auto;
  }

  .forget-password{
    display: flex;
      margin: auto;
      color: black;
      font-size: 18px;
  }

  .forget-password:hover, .login-text:hover, .next:hover{
      text-decoration: underline;
      cursor: pointer;
  }


  .login-text{
      color: #367BBC;
      text-align: center;
      padding-top: 15%;
  }

}
@media only screen and (max-width: 600px) {
  main {
      margin: 30px;
  }

  input, select {
      width: 100%;
  }

  button.color-button {
      width: auto;
  }

  .main-text{
      font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 800px) {
  main {
      margin: 25px;
  }

  input, select {
      width: 100%;
  }

  button.color-button {
      width: auto;
  }

  .main-text{
      font-size: 1.5em !important;
  }
}

}

