.change-password{

    h1{
        text-decoration: underline;
        font-weight: normal;
        text-align: center;
        font-size: 25px;
    }

    h2{
        font-weight: normal;
        text-align: left;
        margin-left: 10%;
    }

    .passwords{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        text-align: center;
        gap: 40px;
        width: 100%;
    }

    input{
        width: 80%;
        margin: auto;
        height: 2em;
        border-width: 0.5px;
        border-radius: 5px;
    }

    .buttons{
        padding-top: 1px;
    }

    button{
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        width: 200px;
        height: 50px;
        border-radius: 5px;
    }

    .button1{
        background-color: #05466C;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 200;
        font-size: 1em;
    }

    .button2{
        color: #05466C;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 1em;
    }
}