.second-form{

  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 10px;

    

a{
  text-decoration: none;
}

.color-button{
  background-color: #05466C;
  border: none;
}


  .main-text{
      font-size: 1.6em;
      padding: 20px 10%;
      color: black;
      text-align: center;
      font-weight: bold;
  }

  .name{
    display: flex;
    flex-direction: column;
  }

  .form-text{
    margin-left: 5%;
  }



  input, select{
      width: 90%;
      margin: auto;
      height: 3em;
      border-width: 0.5px;
      border-radius: 5px;
  }

  button{
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 2px;
      width: 150px;
      margin-top: 20px;

      a{
          color: white;
          text-decoration: none;
      }
  }

  .sex-options-div{
        display: flex;
        flex-direction: column;
        

      input{
          width: 20px;
          padding: 0;
          margin: 0;
      }

      .sex-option, .sex-options-section{
          display: flex;
          text-align: center;
          align-items: center;
          gap: 10px;
      }
  }
  .birth, .school{
      display: flex;
      flex-direction: column;
  }

  .buttons{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

    
  }

  .back-button{
    color: #05466C;
    background-color: white;
    border-radius: 2px;
    width: 150px;
    margin-top: 20px;
  }
  .login-link:hover{
    text-decoration: underline;
  }

  .login-link{
      color: #367BBC;
      text-align: center;
      padding-bottom: 15px;
  }
  



@media only screen and (max-width: 800px) {


  .main-text {
      font-size: 1.6em !important;
  }

  input, select {
    width: 90%;
  }

 
  .sex-options-section{
      display: flex;
      align-items: flex-start;
      margin-left: 6%;
  }
}

@media only screen and (max-width: 600px) {



  input, select {
      width: 90%;
  }
  
  .sex-options-section{
      display: flex;
     
  }
  .main-text{
      font-size: 1.6em !important;
  }

}
}
