footer{
    background-color: #05466C;
}

.footer{
    padding-top: 100px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}

.logo-jlle{
    height: 113px;
}

.phone-number, .email, .address{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 1.0em;
    padding: 20px;
}


.address{
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: underline;
    max-width: 300px;
}
