.first-form{
  
  a{
    text-decoration: none;
    }
    
    .container{
      padding-top: 100px;
      }
      

        
        .color-button{
          background-color: #05466C;
          border: none;
          
          }
          
          form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            
            .main-text{
              padding: 20px 10%;
              margin-top: 10px;
              color: black;
              text-align: center;
              font-weight: bold;
              
              p{
                font-size: 25px;
                }
                }
                
                .form-text{
                  width: 80%;
                  margin: auto;
                  }

    .email, .password, .password-confirm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 90%;
    gap: 5px;
}

label{
  color: black;
  padding: 0;
}
                  
                  
    input, select{
        width: 100%;
        margin: auto;
        height: 3em;
        border-width: 0.5px;
        border-radius: 5px;
    }

    button{
        color: white;
        padding: 10px;
        border-radius: 2px;
        width: 120px;
        margin: 20px auto;
        height: 50px;
        border-radius: 10px;

        a{
            color: white;
            text-decoration: none;
        }

        
    }

    p:hover{
      text-decoration: underline;
    }

    p{
        color: #367BBC;
        text-align: center;
        padding-bottom: 15px;
    }
  }

  @media only screen and (max-width: 800px) {
    main {
        margin: 25px;
    }

    input, select {
        width: 100%;
    }

    button{
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .main-text{
        font-size: 2em !important;
    }
  }

  @media only screen and (max-width: 600px) {

    main {
        margin: 25px;
    }

    input, select {
        width: 100%;
    }
    button{
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .main-text{
        font-size: 1.8em !important;
    }
  }
}
